@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

body {
  width: 100vw;
  overflow: auto;
  box-sizing: border-box;
  font-family: sans-serif;
}

.deg {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin-left: -8px;
  background-color: whitesmoke;
}

.express {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  gap: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.card {
  text-align: center;
  background-color: whitesmoke;
  width: 33.3%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 10px;
  color: #4b5563;
  font-weight: 300;
}
.card .coins {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}
.card h3 {
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
}

.why-us h2 span {
  color: #ffaf12;
  font-weight: 500;
  line-height: 1.6;
  text-transform: uppercase;
  margin: auto;
}
.header-one {
  padding: 16px;
}
@media screen and (max-width: 768px) {
    .express{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
@media screen  {
    
}
}
/* ====================footer============= */

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-footer {
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  color: #4b5563;
  text-align: center;
}
.footer img {
  width: 150px;
  /* height: 10%; */
  margin: auto;
  top: 40px;
}
.footer span p {
  color: #4b5563;
}
.footer-now {
  list-style: none;
}
.footer-now {
  font-size: 20px;
  font-family: "Helvetica", Sans-serift;
  font-weight: 600;
  font-family: bold;
  color: #ffaf12;
}
hr {
  border-style: solid;
  border-color: #f5f1f1;
}
.main-footer ul li {
  list-style: none;
}
.footer--row h5 {
  color: #ffaf12;
  font-weight: 600;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  font-size: 20px;
}
.footer--row {
  text-align: center;
  line-height: 1.7em;
}
.footer-icons {
  /* width: 100%; */
  text-align: center;
  color: #4b5563;
}
.media {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  box-sizing: border-box;

}
.media i {
  padding: 1rem;
  position: relative;
  font-size: 25px;
  width: 50px;
}
.media i:hover {
    color: #ffaf12;
}
.copy-right {
  font-family: Sans-serif;
  margin-top: 30px;
  color: #4b5563;
}
/* =======================responsive================== */
 @media screen and  (max-width: 768px)  {
   .media{
    display: grid;
    grid-template-columns: auto;
   }
 }